html,
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-content: stretch;
  background: #111111;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Bold.woff2") format("woff2"),
    url("./assets/fonts/Graphik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Regular.woff2") format("woff2"),
    url("./assets/fonts/Graphik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Light.woff2") format("woff2"),
    url("./assets/fonts/Graphik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Semibold.woff2") format("woff2"),
    url("./assets/fonts/Graphik-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/Graphik-Medium.woff2") format("woff2"),
    url("./assets/fonts/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
